name: Windows
on:
  workflow_dispatch:
   inputs:
     code: 
       required: True
     Name:
       required: False
     AndroidStudio:
       type: boolean
     RippingTools:
       type: boolean
     FreeFire:
       type: boolean

jobs:
  windows:
    name: Windows 10
    runs-on: windows-2022

    steps:
    - name: Installing Tools
      shell: pwsh
      run: |
        if ("${{ inputs.AndroidStudio }}" -eq "true") { choco install androidstudio --ignore-checksum}
        if ("${{ inputs.RippingTools }}" -eq "true") { write-host " RippingTools installation"}
        if ("${{ inputs.FreeFire }}" -eq "true") { 
          choco install bluestacks --version=5.21.600.1019 --ignore-checksum --no-progress
         }
    - name: setup
      run: | 
       $temp = "$Env:COMPUTERNAME"
       $Env:COMPUTERNAME = "${{ inputs.Name }}"
       choco install chrome-remote-desktop-host --ignore-checksum --no-progress
       ${{ inputs.code }} --pin=123456
       $Env:COMPUTERNAME = "$temp"
    - name: CountDown
      run: |
           $i = 355
           do {
             Write-Host $i
             Sleep 60
             $i--
           } while ($i -gt 0)
